.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FBE370;
  height: 100vh;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.atlas-footer {
  bottom: 0px;
  position: fixed;
  padding-left: 45%;
}

.atlas-content {
  font-family: 'Roboto', sans-serif;
  padding-top: 32vh;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
